/* pages/collect/index.wxss */
page{
  background-color: #f4f4f4;
}
.collect-top{
  widows: 100%;
  height: 100rpx;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28rpx;
  color: #666;
  view{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  .col{
    color: #eb4500;
    font-weight: 600;
    border-bottom: 1px solid #eb4500;
  }
}
.all{
  width: 100%;
  height: 100rpx;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 28rpx;
  padding-left: 30rpx;
  border-bottom: 1px solid #ddd;
  &-item{
    margin-right: 20rpx;
    padding: 10rpx;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  .col-all{
    color: #eb4500;
    border: 1px solid #eb4500;
  }
}
.goods-list{
  height: 260rpx;
  margin-left: 20rpx;
  padding: 30rpx 35rpx 30rpx 0rpx;
  font-size: 28rpx;
  box-sizing: border-box;
  margin-bottom: 10rpx;
  navigator{
    display: flex;
    image{
      width: 200rpx;
      height: 200rpx;
      margin-right: 30rpx;
    }
    .good_info{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .good-title{
        word-break:break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .good-price{
        display: flex;
        color: #eb4500;
        font-size: 35rpx;
        &::before{
          content: "￥";
          display: flex;
          align-items: flex-end;
          padding-bottom: 4rpx;
          font-size: 20rpx;
          color: #eb4500;
        }
      }
    }
  }
}
.del{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20rpx;
  border-bottom: 1px solid #ddd;
  text{
    padding: 5rpx;
    border: 1px solid #eb4500;
    color: #eb4500;
  }
}